In [133]:
import pandas as pd # for data manipulation
import numpy as np # for data manipulation

from sklearn.model_selection import train_test_split # for splitting the data into train and test samples
from sklearn.metrics import classification_report # for model evaluation metrics
from sklearn.preprocessing import OrdinalEncoder # for encoding categorical features from strings to number arrays

# Differnt types of Naive Bayes Classifiers
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import BernoulliNB

In [134]:
df = pd.read_csv('/Users/navamongkoltongta/OneDrive - Assumption University/Year2.2/Data Science/Project/vgsales.csv')

In [135]:
df.drop(columns=['NA_Sales','EU_Sales','JP_Sales','Other_Sales'], inplace=True)

In [136]:
df.count()

Rank            16598
Name            16598
Platform        16598
Year            16327
Genre           16598
Publisher       16540
Global_Sales    16598
dtype: int64

In [137]:
df.dropna(how='any',subset=['Year','Publisher'],inplace=True)

In [138]:
df[df['Publisher'].isnull()]

Empty DataFrame
Columns: [Rank, Name, Platform, Year, Genre, Publisher, Global_Sales]
Index: []

In [139]:
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
Global_Sales    0
dtype: int64

In [144]:
df.count()

Rank            16291
Name            16291
Platform        16291
Year            16291
Genre           16291
Publisher       16291
Global_Sales    16291
Mean_global     16291
dtype: int64

In [140]:
df.describe()

               Rank          Year  Global_Sales
count  16291.000000  16291.000000  16291.000000
mean    8290.190228   2006.405561      0.540910
std     4792.654450      5.832412      1.567345
min        1.000000   1980.000000      0.010000
25%     4132.500000   2003.000000      0.060000
50%     8292.000000   2007.000000      0.170000
75%    12439.500000   2010.000000      0.480000
max    16600.000000   2020.000000     82.740000

In [141]:
# White wins flag (1=win vs. 0=not-win) - dependent (target) variable
df['Mean_global']=df['Global_Sales'].apply(lambda x: 'High' if x>=0.5377441 else 'Low')

In [146]:
df.loc[df['Mean_global'] == 'High'].sample(5)

,Rank,Name,Platform,Year,Genre,Publisher,Global_Sales,Mean_global
3214,3216,Metroid Prime: Trilogy,Wii,2009.0,Shooter,Nintendo,0.63,High
3222,3224,Sonic & All-Stars Racing Transformed,X360,2012.0,Racing,Sega,0.63,High
3630,3632,ZhuZhu Pets 2: Featuring The Wild Bunch,DS,2010.0,Simulation,Activision,0.55,High
977,979,Dragon's Dogma,PS3,2012.0,Role-Playing,Capcom,1.78,High
3074,3076,Fist of the North Star: Ken's Rage,PS3,2010.0,Action,Ubisoft Annecy,0.66,High

In [150]:
df.Genre.count()

16291